# Configureation Files
.vs
.vscode
.devcontainer
.idea

# Not implement
mypy*

# Temp Files
.DS_Store
.dropbox
.ssh
.ipynb_checkpoints
*.pyc
__pycache__
/build
/dist
/*.egg-info
.pytest_cache
.coverage
coverage.xml

# Filter Directory
/result
/output
# /projects

# test file
/test.py
