{%- set external_urls = {
  'github': 'https://github.com/ain-soph/alpsplot/',
  'home': '/alpsplot/',
  'items': {
    'AlpsPlot': '',
    'TrojanZoo': 'https://ain-soph.github.io/trojanzoo',
    'trojanzoo_sphinx_theme': 'https://ain-soph.github.io/trojanzoo_sphinx_theme',
    'base': 'https://github.com/ain-soph/base',
    'test': '/'
  },
  'collapsedSections':[],
}
-%}