{%- set external_urls = {
  'github': 'https://github.com/ain-soph/alpsplot/',
  'github_issues': 'https://github.com/ain-soph/alpsplot/issues/',
  'home': '/',
  'items': {},
  'collapsedSections':[],
}
-%}